<%= form_for :property do |f| %>
	
	<p>
		<%= f.label :cep %>
		<%= f.text_field :cep %>
	</p>

	<p>
		<%= f.label :endereco %>
		<%= f.text_field :endereco %>
	</p>
	
	<p>
		<%= f.label :dormitorios %>
		<%= f.number_field :dormitorios %>
	</p>

	<p>
		<%= f.label :financiado %>
		<%= f.check_box :financiado %>
	</p>

	<p>
		<%= f.label :descricao %>
		<%= f.text_field :descricao %>
	</p>

	<p>
		<%= f.label :numero %>
		<%= f.number_field :numero %>
	</p>
	
	<input name="commit" type="submit" value="Salvar Imovel" />

<% end %>