<ul class="actions-imovel">
	<li><%= link_to 'Editar', {action: "edit", id: @property} %></li>
	<li><%= link_to 'Deletar', {controller: "properties", action: "delete", id: @property} , method: :delete, data: {confirm: 'Deseja realmente deletar este imóvel' } %></li>
</ul>

<p> <%= @property.cep %></p>
<p> <%= @property.endereco %></p>
<p> <%= @property.dormitorios %></p>
<p> <%= @property.financiado %></p>
<p> <%= @property.descricao %></p>
<p> <%= @property.numero %></p>

<h2>Caracteristicas</h2>
<% @property.characteristics.each do |characteristic| %>
	<p><%= characteristic.name %> </p>
<% end %>