<!DOCTYPE html>
<html>
<head>
  <title>ImobRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="centralize">
	<header>
		<nav>
			<ul>
				<li><%= link_to 'Listar Todos Imoveis', controller: "properties", action: "index"%></li>

				<li><%= link_to 'Novo Imovel', controller: "properties", action: "new" %></li>

				<li><%= link_to 'Listar Todas Caracteristicas', controller: "characteristics", action: "index" %></li>

				<li><%= link_to 'Nova Caracteristicas', controller: "characteristics", action: "new" %></li>
			</ul>
		</nav>
	</header>

	<%= yield %>
</section>

</body>
</html>
